.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;

  p {
    font-weight: bold;
  }

  .input {
    background-color: var(--bg-lightgray);
    border: none;
  }

  .items {
    display: grid;
    grid-auto-flow: row;
    row-gap: 16px;
    max-height: 380px;
    padding-right: 8px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b0b0b0;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #909090;
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
      border-radius: 4px;
    }
  }

  .button__wrapper {
    &.show__all {
      border-top: 1px solid var(--border-neutral);
      margin-top: 16px;
    }
    .button {
      color: hsl(var(--primary));
      background: none;
      border: none;
    }
  }
}
