@use '/src/shared/styles/displays.scss' as *;

.content {
  padding: 0;
  width: 90vw;
  max-width: 1060px;
  min-height: 500px;
  background-color: #ffffff;
  overflow: hidden;

  @media (max-width: $display-md) {
    width: 100%;
    height: 100%;
  }
}
