@import '/src/shared/styles/displays.scss';

.wrapper {
  height: 100%;

  .card {
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    row-gap: 10px;
    height: 100%;

    .logo {
      display: flex;
      justify-content: center;
      padding: 25px;
      border-radius: 15px;
      max-height: 260px;
      background: hsl(var(--secondary));

      img {
        // max-width: 215px;
        // max-height: 215px;
      }
    }

    .title {
      font-weight: bold;
      font-size: var(--title-md);

      @media (max-width: $display-lg) {
        font-size: var(--title-sm);
      }

      @media (max-width: $display-sm) {
        font-size: var(--title-xs);
      }
    }

    .text {
      font-size: var(--text-md);

      @media (max-width: $display-sm) {
        font-size: var(--text-sm);
      }
    }

    .bottom {
      &__desktop {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $display-sm) {
          display: none;
        }
      }

      &__mobile {
        display: none;

        @media (max-width: $display-sm) {
          display: grid;
          justify-content: flex-end;
        }
      }

      .text {
        font-size: 20px;
      }

      .button {
        display: grid;
        grid-auto-flow: column;
        column-gap: 5px;

        span {
          font-weight: bold;
        }
      }
    }
  }
}
