.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 8px;

  .checkbox {
    border-radius: 8px;
    width: 24px;
    height: 24px;
  }

  label {
    line-height: normal;
    cursor: pointer;
  }
}
