.wrapper {
  display: flex;
  margin: 16px 0;

  .title {
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #6b7280;

    .divider {
      flex: 1;
      border-bottom: 1px dashed #e5e7eb;
      position: relative;
      top: -1px;
      margin: 0 8px;
    }
  }

  .value {
    font-weight: bold;
    font-size: 18px;
  }
}
