@use '/src/shared/styles/displays.scss' as *;

.wrapper {
  display: grid;
  grid-template: 1fr / 1.2fr 1fr;

  @media (max-width: $display-md) {
    grid-template: 500px 1fr / 1fr;
  }

  @media (max-width: $display-sm) {
    grid-template: 400px 1fr / 1fr;
  }

  .details {
    background-color: #f7f6f5;
    padding: 28px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;

    .title {
      font-weight: 800;
    }

    .text {
      color: #9ca3af;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .ingredients {
      background-color: #f9fafb;
      padding: 20px;
      border-radius: 8px;
      height: 420px;
      overflow: auto;

      .ingredientGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }

    .button {
      height: 55px;
      padding: 0 40px;
      font-size: 16px;
      border-radius: 18px;
      width: 100%;
    }
  }
}
