@use '/src/shared/styles/displays.scss' as *;

.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  @media (max-width: $display-md) {
    column-gap: 10px;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .leftSection {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;

    @media (max-width: $display-md) {
      column-gap: 10px;
    }

    .info {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
    }
  }

  .rightSection {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    column-gap: 20px;

    @media (max-width: $display-md) {
      column-gap: 5px;
    }
  }
}
