/* Breakpoint constants */
$display-xl: 1366px; /* Extra Large */
$display-lg: 992px; /* Large */
$display-md: 768px; /* Medium */
$display-sm: 576px; /* Small */
$display-xs: 375px; /* Extra Small */
