@import '/src/shared/styles/displays.scss';

:root {
  --foreground: 20 14.3% 4.1%;

  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;

  --primary: 22 100% 50%;
  --primary-foreground: 60 9.1% 97.8%;

  --secondary: 32 100% 98%;
  --secondary-foreground: 24 9.8% 10%;

  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --border: 20 5.9% 90%;
  --input: 0 0% 90%;
  --ring: 24.6 95% 53.1%;
  --radius: 18px;

  --bg-lightgray: #f9fafb;

  --border-neutral: #e5e5e5;

  --constainer_xl: 1280px;

  --title-xs: 16px;
  --title-sm: 22px;
  --title-md: 26px;
  --title-lg: 32px;
  --title-xl: 40px;
  --title-2xl: 48px;

  --text-xs: 8px;
  --text-sm: 10px;
  --text-md: 14px;
  --text-lg: 18px;
  --text-xl: 22px;

  /* Breakpoint constants */
  --display-xl: $display-xl; /* Extra Large */
  --display-lg: $display-lg; /* Large */
  --display-md: $display-md; /* Medium */
  --display-sm: $display-sm; /* Small */
  --display-xs: $display-xs; /* Extra Small */

  /* Контейнерные отступы */
  /* Контейнерные отступы для Extra Large */
  --container-padding-xl-all: 15px;
  --container-padding-xl-side: 50px;
  --container-padding-xl-top: 80px;

  /* Контейнерные отступы для Large */
  --container-padding-lg-all: 12px;
  --container-padding-lg-side: 40px;
  --container-padding-lg-top: 70px;

  /* Контейнерные отступы для Medium */
  --container-padding-md-all: 10px;
  --container-padding-md-side: 25px;
  --container-padding-md-top: 60px;

  /* Контейнерные отступы для Small */
  --container-padding-sm-all: 8px;
  --container-padding-sm-side: 20px;
  --container-padding-sm-top: 50px;

  /* Контейнерные отступы для Extra Small */
  --container-padding-xs-all: 5px;
  --container-padding-xs-side: 10px;
  --container-padding-xs-top: 40px;
}
