@import '/src/shared/styles/displays.scss';

.container {
  margin-top: 40px;
  display: grid;
  grid-auto-flow: row;

  @media (max-width: $display-md) {
    margin-top: 30px;
  }

  @media (max-width: $display-sm) {
    margin-top: 20px;
  }

  .title {
    font-size: var(--title-lg);
    font-weight: 700;

    @media (max-width: $display-md) {
      font-size: var(--title-md);
    }

    @media (max-width: $display-sm) {
      font-size: var(--title-sm);
    }
  }
}

.content__wrapper {
  margin-top: 40px;
  padding-bottom: 60px;

  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 60px;
    position: relative;

    @media (max-width: $display-md) {
      grid-template-columns: none;
    }

    .filter {
      display: block;
      @media (max-width: $display-md) {
        display: none;
      }
    }

    .products__wrapper {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;
    }
  }
}

.cart {
  display: none;

  @media (max-width: $display-md) {
    display: grid;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
